<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/insert/update_data/<%= id %>" method="POST" > 
      Name : <input required type="text" name="name" value=<%= name %>>
      <br>
      <br>
      Email : <input required type="email" name="email" value=<%= email %>>
      <br>
      <br>
      <button type="submit">Save</button>
    </form>    
  </body>
</html>
